In [1]:
## IMPORTS
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
## READING DATA 
df = pd.read_csv('data/data.csv')
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100

In [39]:
X = df.drop(['Open','Low', 'High', 'Close', 'Adj Close', 'Volume'], axis = 1)
X['Date'] = pd.to_datetime(X['Date'], infer_datetime_format=True, errors="coerce")
y = df['Close']

X = X.dropna()
# pd.DateTimeIndex(X.Date).day
X['Day'] = X.Date.dt.day
X['Month'] = X.Date.dt.month
X['Year'] = X.Date.dt.year
X = X.drop(['Date'], axis = 1)

X

      Day  Month  Year
0      17      9  2014
1      18      9  2014
2      19      9  2014
3      20      9  2014
4      21      9  2014
...   ...    ...   ...
2708   15      2  2022
2709   16      2  2022
2710   17      2  2022
2711   18      2  2022
2712   19      2  2022

[2713 rows x 3 columns]

In [40]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_test

      Day  Month  Year
506     5      2  2016
1535   30     11  2018
1905    5     12  2019
930     4      4  2017
2676   14      1  2022
...   ...    ...   ...
900     5      3  2017
1208    7      1  2018
2376   20      3  2021
2034   12      4  2020
1902    2     12  2019

[543 rows x 3 columns]

In [41]:
from sklearn.linear_model import LinearRegression

regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [42]:
y_pred = regressor.predict(X_test)
X_test

      Day  Month  Year
506     5      2  2016
1535   30     11  2018
1905    5     12  2019
930     4      4  2017
2676   14      1  2022
...   ...    ...   ...
900     5      3  2017
1208    7      1  2018
2376   20      3  2021
2034   12      4  2020
1902    2     12  2019

[543 rows x 3 columns]

In [46]:
from sklearn.metrics import r2_score
print('R2 Score', r2_score(y_test, y_pred))

R2 Score 0.555222165739839

In [48]:
from sklearn.ensemble import RandomForestRegressor
reg = RandomForestRegressor(n_estimators=200,)
reg.fit(X_train, y_train)

In [49]:

from sklearn.ensemble import RandomForestRegressor
reg = RandomForestRegressor(n_estimators=200,)
reg.fit(X_train, y_train)
X_train


import pickle 
filename = 'model.pkl'
pickle.dump(reg, open(filename, 'wb'))